/* App styles
-------------------------------------------------- */
#controls {
	margin-top: 20px;
}

#chat .user {
	font-weight: 500;
}

#chat .user {
    color: #1D8519;
}

#chat .user.me {
	color: #337AB7;
}

#chat {
	position: absolute;
	width: 100%;
	top: 90px;
	bottom: 80px;
	overflow-y: scroll;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}
